body{
    text-align: center;
    font-family: Roboto,sans-serif;
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    background: #1F2937;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.nav-logo{
    width: 48px;
    height: 48px;
    margin: 6px;
    margin-left: 12px;
}

.nav-links{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav-links a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 24px;
}