body{
    text-align: center;
    font-family: Roboto,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    background: #1F2937;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.nav-logo{
    width: 48px;
    height: 48px;
    margin: 6px;
    margin-left: 12px;
    transition: transform .7s ease-in-out;
}

.nav-links{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav-links a{

    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 24px;
}
.nav-logo:hover {
    transform: rotate(360deg);
  }

.hero-logo{
    width: 240px;
    height: 200px;
}

.hero{
    display: flex;
    background:#1F2937;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.hero-title{
    color:#F9FAF8;
    font-weight: 900;
    font-size: 36px;
}


.hero-box {
    width: 660px;
    background-color: #1F2937;
    margin-top: 72px;
    padding: 52px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#F9FAF8;
  }

  .hero-button {
    color:#F9FAF8;
    background: #3882F6;
    border-radius: 16px;
    border-color: #F9FAF8;
    height: 45px;
    width: 100px;
  }
  .hero-button:hover{
    cursor: pointer;
  }

.hero-logo{
    border-radius: 180px;
}

.content{
    background: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.panel-icon{
  width: 160px;
  height: 160px;
  border:solid;
  border-color: #3882F6;
  border-radius: 10px;
}

.panel {
    width: 250px;
    height: 200px;
    margin: 32px;
    margin-bottom: 24px;
    padding-bottom: 48px;
  }
.panels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.panel-text{
    font-size: 36px;
    font-weight: 900;
    color:#1F2937
}


.Quote{
    background-color: #E5E7EB;

}
.quote-text{
    font-size: 36px;
}
.Advert{
    background-color: #3882F6;
}
.advert-info{
    color:#F9FAF8
}

.quote-signature {
    margin: 8px 0px 0px auto;
    padding:10px;
}
.footer{
    background: #1F2937; 
    color:#F9FAF8;
    flex-shrink: 0;
    padding: 10px;

}